<div class="race-bcg">
  <h1><%= @race.name %> <%= @race.year %> </h1>

  <h1>Classement</h1>
  <div class="crew-img-rc">
    <%= cl_image_tag @crew.logo.key, alt: "text", class: "" %>
  </div>


  <div class="text-center my-8">
    <div class="categories-cards">
      <% @all_categories.each do |category| %>
        <%= link_to category, crew_race_path(@crew, @race, category: category), class: "btn-main #{ params[:category] == category ? 'btn-selected' : ''} "%>
      <% end %>
    </div>
    <%= link_to "Général", crew_race_path(@crew, @race), class: "btn-main #{ params[:category].nil? ? 'btn-selected' : ''}" %>
  </div>

  <div class="user-cards">
    <% @users.each do |user| %>
      <div class="flex justify-around items-center">
        <div class="flex justify-between items-center mb-8">
          <div class="user-card">
            <div class="flex justify-around items-center">
              <div class="items-center text-center">
                <%= cl_image_tag user.avatar.key, class: "avatar" %>
                <p><%= user.username %></p>
                <% if Time.zone.now > @starting_time %>
                  <% if params[:category] %>
                    <p><%= user.scores.where(race: @race).first.points_by_category[params[:category]] %></p>
                  <% else %>
                    <p><%= user.total_scores.where(race: @race).first.points %> pts</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% if Time.zone.now > @starting_time %>
            <div class="flex justify-between">
              <% @categories.each do |category| %>
                <div class='user-bet-card'>
                  <div class='flex justify-around items-center my-3'>
                    <div class='flex items-center'>
                      <span class="user-bet-card-category-txt"><%= category %></span>
                    </div>
                    <span><%= user.scores.where(race: @race).first.points_by_category[category] %> pts</span>
                  </div>
                  <% Bet.get_bets_by_category(category, user).each do |bet| %>
                    <div>
                      <p><%= bet.position %> - <%= bet.boat.name %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
