<div class="new-bet-bcg">
  <h1>Mon pari en <%= params[:category] %></h1>

  <div class="form-bet">
    <%= form_with url: bets_path(category: params[:category]), method: :post do |f| %>
      <div class="my-3"><%= f.select :skipper_1, Boat.get_all_by_category(params[:category]), prompt: 'Vainqueur' %></div>
      <div class="my-3"><%= f.select :skipper_2, Boat.get_all_by_category(params[:category]), prompt: 'Deuxième' %></div>
      <div class="my-3"><%= f.select :skipper_3, Boat.get_all_by_category(params[:category]), prompt: 'Troisième' %></div>
      <div class="my-3 form-button"><%= f.submit "Bon vent !", class: "btn-bet" %></div>
    <% end %>
  </div>
</div>
